header {
  background: url(voeten.jpg);
  background-size: cover;
  background-position: center;
  }

.nav-wrapper {
 background: transparent;
 height: 300px;

}

.card{
margin-left: 10px;
padding-top: 20px;
height:500px;
margin-top: 50px;

}
.card p {
text-align: center;
font-size: 24px;
}

#kleiner {
text-align: left;
font-size: 16px;
}



footer {

background: url(voeten2.jpg);
background-size: cover;
background-position: left;

}

#sneaker {
height: 250px;
width: 350px;
position
}
