header {
  background: url(voeten.jpg);
  background-size: cover;
  background-position: center;
  }

.nav-wrapper {
 background-color: transparent;
 height: 300px;

}

.card{

padding-top: 10px;

}

footer {

background: url(voeten2.jpg);
background-size: cover;
background-position: left;

}


#sneaker {
height: 300px;
width: 400px;

}

#over_ons {
background-position: left;

}
