header {
  background: url(voeten.jpg);
  background-size: cover;
  background-position: center;
  }

.nav-wrapper {
 background-color: transparent;
 height: 300px;

}

footer {

background: url(voeten2.jpg);
background-size: cover;
background-position: left;

}

.card{

margin-top: 20%;
margin-left: auto;

}
